@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
    background-color: rgba(139, 255, 168, 0.24);
}
main {
    display: flexbox;
    justify-items: center;
    justify-content: flex-start;
    background-color: rgb(9, 136, 175);
    border-radius: 20px;
    padding-top: 190px;
    padding-bottom: 49px;
    text-align: center;
}

h1 {
    font-family: 'Source Serif 4';
        font-size: 50px;
        padding-bottom: 60px;
}
h3 {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.descrição {
    font-size: 19px;
    color: rgb(209, 209, 209);
}

.nome-HTML {
    color: whitesmoke;
}

.nome-CSS {
    color: whitesmoke;
}

mark {
background-color: rgb(190, 190, 226);
}

.imagem-tag {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

figcaption {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.lista {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.parágrafo-ol {
    background-color: rgb(190, 190, 226);
}

.parágrafo-ul {
    background-color: rgb(190, 190, 226);
}
