@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: rgb(77, 116, 189);
}
/* Parte principal */
.container {
    display: flex;
    justify-content: space-between;
}

.principal {
    background-color: white;
    padding: 12px;
    width: 75%;
    height: 94vh;
    margin: 0;
    border-radius: 10px;
    font-family: 'Raleway';
}

h2 {
    color: rgb(223, 223, 223);
}

.linha-vertical {
    border-left: 1px solid black;
    height: 120px;
    margin: 0 20px;
    margin-top: 20px;
}

h3 {
    text-align: center;
} 

/* Minhas Habilidades */
.habilidades {
    display: flex;
}

mark {
    background-color:  rgba(193, 253, 170, 0.692);
    color: black;
}

.tecnico {
    padding-left: 20px;
}

.globo {
    padding-left: 60px;
}

.outros {
    padding-left: 100px;
}

/* Estilizando os links das redes sociais */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 20vh;
}

.links {
    padding: 7px;
}

.links:link {
    text-decoration: none;
    color:rgb(46, 68, 109);
}

.links:hover {
    color:darkolivegreen;
}

.links:visited {
    color: rgb(46, 68, 109);
}

.logo-linkedin {
padding-left: 60px;
}

/* Segunda parte principal */
.perfil {
    background-color: rgb(194, 253, 170);
    border-radius: 10px;
    text-align: center;
    height: 93vh;
    padding: 15px;
}

.foto{
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.sobre-mim {
    font-style: italic;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.simbolo {
    padding-top: 30px;
}
